@charset "UTF-8";

:root {
    --cor1: ;
    --cor2: #727A6E;
    --cor3: #BFE655;
    --cor4: #55E661;
    --cor5: #82E655;
    --cor6: #E6DF55;
    --cor6: #55E692;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}


header h1 {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
    color: white;
}

menu {
    display: none;
    background-color: #731702;
}

menu > ul > li {
    list-style-type: none;
}

i#menu-list {
    font-size: 2em;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: white;
}

a {
    display: block;
    padding: 20px;
    font-size: 1em;
    text-decoration: none;
    color:  white;
    border-top: 2px solid rgb(8, 0, 0);
    transition: 0.5s;
}

a:hover {
    background-color: #0D6600;
}

span {
    font-size: 1em;
    margin-right: 30px;
    margin-left: 15px;  
}

div#container, h1 {
    display: block;
}

div#container {
    float: left;
    font-size: 1em;
}

div#color {
    background-color: #1D5810;
    height: 60px;
}
